@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,body{
	height: 100%;
}

body{
	font-family: 'Poppins', sans-serif;
}
.heading {
	padding-top: 10px;
	text-align: center;
}

.moods_container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.random{
	margin: 10px;
	padding: 3px;
	padding-left:5px; 
	padding-right:5px; 
	letter-spacing: 1.5px;
	color:white;
	outline: 0;
	background: #007BFF;
	border-radius: 10px;
	box-shadow: 0.5px 2px 4.5px 2px rgba(0,0,0,0.2);
	border:none;


}

.days .circle {
	background-color: #888;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	width: 20px;
	height: 20px;
}

.mood_1 {
	color: #2d6b5f;
}

.mood_2 {
	color: #72e3a6;
}

.mood_3 {
	color: #dff4c7;
}

.mood_4 {
	color: #edbf98;
}

.mood_5 {
	color: #ea3d36;
}

.mood {
	margin: 20px;
	cursor: pointer;
	width: 1%;
	height: 2%;
	background: none;
	border:none;
	outline: none;
	transform: scale(2);
}

.mood:focus{
	transform: scale(2.5);

}

.calendar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.months {
	padding: 20px;
	width: 33%;
}

.months h3 {
	margin: 5px 0;
	text-align: center;
}

.days_container,
.week_days_container {
	display: flex;
	flex-wrap: wrap;
}

.days,
.week_days {
	font-size: 10px;
	font-weight: 600;
	margin-bottom: 5px;
	height: calc(100% / 7);
	width: calc(100% / 7);
	text-align: center;
}
